# Ignore node_modules in all directories
**/node_modules/
node_modules

dist
dist-ssr
npm-debug.log*
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
