$white: #fff;
$blue: #1976d2;
$buttonBg: $blue;
$transformedColor: adjust-hue($buttonBg, -50deg);

button.classButton {
  border-radius: 18px;
  padding: 5px 15px;
  width: 170px;

  &.active {
    background-color: rgba($buttonBg, 0.6);
    border-color: $buttonBg;
    border: 1px solid $buttonBg;
    background-image: linear-gradient(to right, $buttonBg 0%,  $transformedColor  130%);
  }
}

.buttonInput {
  max-width: 120px;
  max-height: 25px;
  input {
    text-align: center;
    color: $white;
  }
}
