.classInfo {
  margin-top: 25px;
  height: 200px;
}

.className {
  display: block;
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-top: 15px;
}

.schedule {
  margin-top: 15px;

  .schedule-record {
    display: flex;
    width: 150px;

    .day {
      width: 400px;
      text-transform: capitalize; // TODO: update when translations added
    }

    .time {
      width: 100px;
    }
  }
}
